<!DOCTYPE html>
<html>
  <head>
    <title>MunicipalityManage</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= link_to 'Mayor', mayors_path %>
    <%= link_to 'Neighborhood', neighborhoods_path %>
    <%= link_to 'Municipality', municipalities_path %>
    <%= yield %>
  </body>
</html>
